Package: cieui
Version: 0.0.1
Section: libs
Priority: optional
Architecture: amd64
Depends: libwxgtk3.2-1
Maintainer: Fikri Mustofa <fikrimustofa024@gmail.com>
Description: A modern UI library on C++ language.
